# Notebook resposável por apresentar os componentes básicos do aggregate no mongo para realizar joins

In [1]:
from pymongo import MongoClient
from bson.son import SON
import pprint
import numpy as np
import pandas as pd

# para geração de dados fake
from faker import Faker
from pandasql import sqldf

## povoador

In [2]:
def criar_pessoa():
    primeiro_nome = fake.first_name()
    ultimo_nome = fake.last_name()
    
    idade = np.random.randint(10, 30)
    
    pessoa = {
        'cpf': fake.cpf(),
        'nome': f'{primeiro_nome} {ultimo_nome}' ,
        'idade': idade ,
    }
    
    primeiro_nome = primeiro_nome.replace(" ", "")
    ultimo_nome = ultimo_nome.replace(" ", "")
    
    pessoa['email']= f'{primeiro_nome.lower()}.{ultimo_nome.lower()}@{fake.free_email_domain()}'
    
    return pessoa

In [3]:
def criar_automoveis(pessoa):
    marcas = ['audi', 'bmw', 'citroen', 'ferrari', 'fiat', 'ford', 'jeep', 'mercedez', 'peugeut',
              'porsche', 'renault', 'suzuki', 'toyota', 'vw'] 
        
    automoveis = []
    n = np.random.randint(0, 5)
    
    for i in range(n):
        marca = np.random.choice(marcas, 1)[0]
        ano = np.random.randint(1970, 2022)
        dono_cpf = pessoa['cpf']
    
    
        automovel = {
            'marca': marca,
            'ano': ano,
            'dono_cpf': dono_cpf,
        }    
        automoveis.append(automovel)
    
    return automoveis

## Configurações

In [4]:
pp = pprint.PrettyPrinter(compact=True)
# gerando dados fictícios em português do Brasil
fake = Faker(['pt_BR'])

In [5]:
client = MongoClient('localhost', 27017)
# Se a base de dados não existir, ela é criada automagicamente :-)
db = client['techshot_aggregate_join']

In [6]:
lista_pessoas = []

for i in range(30):
    lista_pessoas.append(criar_pessoa())
    
pp.pprint(lista_pessoas)

[{'cpf': '498.137.502-60',
  'email': 'anaclara.moraes@gmail.com',
  'idade': 23,
  'nome': 'Ana Clara Moraes'},
 {'cpf': '405.912.638-15',
  'email': 'bruno.vieira@yahoo.com.br',
  'idade': 21,
  'nome': 'Bruno Vieira'},
 {'cpf': '509.634.721-43',
  'email': 'francisco.dacunha@ig.com.br',
  'idade': 20,
  'nome': 'Francisco da Cunha'},
 {'cpf': '738.594.026-92',
  'email': 'marcelo.almeida@bol.com.br',
  'idade': 24,
  'nome': 'Marcelo Almeida'},
 {'cpf': '369.785.041-57',
  'email': 'samuel.nunes@yahoo.com.br',
  'idade': 20,
  'nome': 'Samuel Nunes'},
 {'cpf': '184.930.576-57',
  'email': 'esther.sales@yahoo.com.br',
  'idade': 24,
  'nome': 'Esther Sales'},
 {'cpf': '742.853.691-09',
  'email': 'otávio.pires@yahoo.com.br',
  'idade': 18,
  'nome': 'Otávio Pires'},
 {'cpf': '826.950.173-59',
  'email': 'sophia.costa@gmail.com',
  'idade': 14,
  'nome': 'Sophia Costa'},
 {'cpf': '780.952.341-41',
  'email': 'brenda.nascimento@uol.com.br',
  'idade': 13,
  'nome': 'Brenda Nascimento'},
 {'cpf': '724.560.193-34',
  'email': 'igor.daluz@ig.com.br',
  'idade': 21,
  'nome': 'Igor da Luz'},
 {'cpf': '832.950.714-97',
  'email': 'isabella.rocha@gmail.com',
  'idade': 14,
  'nome': 'Isabella Rocha'},
 {'cpf': '985.267.031-02',
  'email': 'elisa.aragão@gmail.com',
  'idade': 20,
  'nome': 'Elisa Aragão'},
 {'cpf': '184.297.630-31',
  'email': 'benjamin.cunha@yahoo.com.br',
  'idade': 11,
  'nome': 'Benjamin Cunha'},
 {'cpf': '041.397.268-22',
  'email': 'anavitória.dias@yahoo.com.br',
  'idade': 19,
  'nome': 'Ana Vitória Dias'},
 {'cpf': '438.072.916-87',
  'email': 'kevin.dacosta@ig.com.br',
  'idade': 23,
  'nome': 'Kevin da Costa'},
 {'cpf': '369.158.742-91',
  'email': 'lavínia.moura@gmail.com',
  'idade': 24,
  'nome': 'Lavínia Moura'},
 {'cpf': '637.028.591-95',
  'email': 'gabriel.damata@gmail.com',
  'idade': 22,
  'nome': 'Gabriel da Mata'},
 {'cpf': '201.853.967-12',
  'email': 'esther.dacruz@ig.com.br',
  'idade': 25,
  'nome': 'Esther da Cruz'},
 {'cpf': '482.071.563-17',
  'email': 'thomas.alves@uol.com.br',
  'idade': 13,
  'nome': 'Thomas Alves'},
 {'cpf': '657.843.902-10',
  'email': 'gabriela.caldeira@uol.com.br',
  'idade': 18,
  'nome': 'Gabriela Caldeira'},
 {'cpf': '504.963.728-74',
  'email': 'joaquim.araújo@ig.com.br',
  'idade': 22,
  'nome': 'Joaquim Araújo'},
 {'cpf': '316.497.528-73',
  'email': 'lorena.barros@uol.com.br',
  'idade': 14,
  'nome': 'Lorena Barros'},
 {'cpf': '420.169.785-11',
  'email': 'bárbara.ribeiro@yahoo.com.br',
  'idade': 29,
  'nome': 'Bárbara Ribeiro'},
 {'cpf': '419.708.652-02',
  'email': 'davilucca.castro@uol.com.br',
  'idade': 16,
  'nome': 'Davi Lucca Castro'},
 {'cpf': '579.812.340-50',
  'email': 'emilly.dacruz@bol.com.br',
  'idade': 16,
  'nome': 'Emilly da Cruz'},
 {'cpf': '790.531.284-41',
  'email': 'laura.duarte@ig.com.br',
  'idade': 20,
  'nome': 'Laura Duarte'},
 {'cpf': '062.395.148-70',
  'email': 'leandro.gomes@yahoo.com.br',
  'idade': 11,
  'nome': 'Leandro Gomes'},
 {'cpf': '314.650.289-51',
  'email': 'anabeatriz.pinto@gmail.com',
  'idade': 28,
  'nome': 'Ana Beatriz Pinto'},
 {'cpf': '036.128.974-03',
  'email': 'nathan.barbosa@uol.com.br',
  'idade': 15,
  'nome': 'Nathan Barbosa'},
 {'cpf': '378.645.109-57',
  'email': 'vitorhugo.nascimento@uol.com.br',
  'idade': 20,
  'nome': 'Vitor Hugo Nascimento'}]

In [7]:
# cria a lista de veículos para as pessoas

lista_automoveis = []
for pessoa in lista_pessoas:
    lista_automoveis.extend(criar_automoveis(pessoa))
    
lista_automoveis

[{'marca': 'audi', 'ano': 2021, 'dono_cpf': '498.137.502-60'},
 {'marca': 'citroen', 'ano': 2018, 'dono_cpf': '498.137.502-60'},
 {'marca': 'ford', 'ano': 1987, 'dono_cpf': '498.137.502-60'},
 {'marca': 'audi', 'ano': 2002, 'dono_cpf': '405.912.638-15'},
 {'marca': 'porsche', 'ano': 1979, 'dono_cpf': '405.912.638-15'},
 {'marca': 'ford', 'ano': 1983, 'dono_cpf': '405.912.638-15'},
 {'marca': 'audi', 'ano': 1998, 'dono_cpf': '405.912.638-15'},
 {'marca': 'audi', 'ano': 2013, 'dono_cpf': '509.634.721-43'},
 {'marca': 'mercedez', 'ano': 1979, 'dono_cpf': '509.634.721-43'},
 {'marca': 'audi', 'ano': 1979, 'dono_cpf': '509.634.721-43'},
 {'marca': 'ford', 'ano': 2003, 'dono_cpf': '509.634.721-43'},
 {'marca': 'peugeut', 'ano': 2018, 'dono_cpf': '738.594.026-92'},
 {'marca': 'renault', 'ano': 1978, 'dono_cpf': '738.594.026-92'},
 {'marca': 'vw', 'ano': 2011, 'dono_cpf': '369.785.041-57'},
 {'marca': 'peugeut', 'ano': 1996, 'dono_cpf': '369.785.041-57'},
 {'marca': 'audi', 'ano': 1970, 'dono_cpf': '369.785.041-57'},
 {'marca': 'mercedez', 'ano': 2003, 'dono_cpf': '184.930.576-57'},
 {'marca': 'renault', 'ano': 2001, 'dono_cpf': '184.930.576-57'},
 {'marca': 'ferrari', 'ano': 2017, 'dono_cpf': '184.930.576-57'},
 {'marca': 'bmw', 'ano': 2009, 'dono_cpf': '742.853.691-09'},
 {'marca': 'porsche', 'ano': 2004, 'dono_cpf': '780.952.341-41'},
 {'marca': 'fiat', 'ano': 1994, 'dono_cpf': '780.952.341-41'},
 {'marca': 'toyota', 'ano': 1989, 'dono_cpf': '724.560.193-34'},
 {'marca': 'jeep', 'ano': 1974, 'dono_cpf': '832.950.714-97'},
 {'marca': 'porsche', 'ano': 1982, 'dono_cpf': '832.950.714-97'},
 {'marca': 'mercedez', 'ano': 1987, 'dono_cpf': '041.397.268-22'},
 {'marca': 'jeep', 'ano': 2008, 'dono_cpf': '438.072.916-87'},
 {'marca': 'ford', 'ano': 1977, 'dono_cpf': '369.158.742-91'},
 {'marca': 'ferrari', 'ano': 1982, 'dono_cpf': '637.028.591-95'},
 {'marca': 'audi', 'ano': 2003, 'dono_cpf': '482.071.563-17'},
 {'marca': 'audi', 'ano': 1982, 'dono_cpf': '482.071.563-17'},
 {'marca': 'citroen', 'ano': 2010, 'dono_cpf': '482.071.563-17'},
 {'marca': 'jeep', 'ano': 1980, 'dono_cpf': '482.071.563-17'},
 {'marca': 'citroen', 'ano': 1983, 'dono_cpf': '657.843.902-10'},
 {'marca': 'mercedez', 'ano': 1976, 'dono_cpf': '657.843.902-10'},
 {'marca': 'mercedez', 'ano': 2001, 'dono_cpf': '657.843.902-10'},
 {'marca': 'jeep', 'ano': 1989, 'dono_cpf': '657.843.902-10'},
 {'marca': 'mercedez', 'ano': 1994, 'dono_cpf': '504.963.728-74'},
 {'marca': 'peugeut', 'ano': 1970, 'dono_cpf': '504.963.728-74'},
 {'marca': 'suzuki', 'ano': 1983, 'dono_cpf': '504.963.728-74'},
 {'marca': 'ford', 'ano': 1988, 'dono_cpf': '504.963.728-74'},
 {'marca': 'porsche', 'ano': 1970, 'dono_cpf': '316.497.528-73'},
 {'marca': 'suzuki', 'ano': 1996, 'dono_cpf': '316.497.528-73'},
 {'marca': 'ferrari', 'ano': 1988, 'dono_cpf': '316.497.528-73'},
 {'marca': 'bmw', 'ano': 2018, 'dono_cpf': '420.169.785-11'},
 {'marca': 'porsche', 'ano': 2003, 'dono_cpf': '420.169.785-11'},
 {'marca': 'suzuki', 'ano': 2005, 'dono_cpf': '579.812.340-50'},
 {'marca': 'peugeut', 'ano': 1987, 'dono_cpf': '579.812.340-50'},
 {'marca': 'audi', 'ano': 2010, 'dono_cpf': '579.812.340-50'},
 {'marca': 'ferrari', 'ano': 2016, 'dono_cpf': '790.531.284-41'},
 {'marca': 'audi', 'ano': 1984, 'dono_cpf': '790.531.284-41'},
 {'marca': 'toyota', 'ano': 2020, 'dono_cpf': '790.531.284-41'},
 {'marca': 'toyota', 'ano': 1980, 'dono_cpf': '790.531.284-41'},
 {'marca': 'toyota', 'ano': 1995, 'dono_cpf': '062.395.148-70'},
 {'marca': 'jeep', 'ano': 1971, 'dono_cpf': '062.395.148-70'},
 {'marca': 'suzuki', 'ano': 2010, 'dono_cpf': '062.395.148-70'},
 {'marca': 'citroen', 'ano': 2018, 'dono_cpf': '314.650.289-51'},
 {'marca': 'porsche', 'ano': 1984, 'dono_cpf': '314.650.289-51'},
 {'marca': 'mercedez', 'ano': 1999, 'dono_cpf': '314.650.289-51'},
 {'marca': 'audi', 'ano': 2007, 'dono_cpf': '314.650.289-51'},
 {'marca': 'mercedez', 'ano': 1977, 'dono_cpf': '036.128.974-03'},
 {'marca': 'peugeut', 'ano': 2002, 'dono_cpf': '036.128.974-03'},
 {'marca': 'suzuki', 'ano': 2019, 'dono_cpf': '036.128.974-03'}]

In [8]:
pessoas = pd.DataFrame.from_records(lista_pessoas)
pessoas

,cpf,nome,idade,email
0,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com
1,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br
2,509.634.721-43,Francisco da Cunha,20,francisco.dacunha@ig.com.br
3,738.594.026-92,Marcelo Almeida,24,marcelo.almeida@bol.com.br
4,369.785.041-57,Samuel Nunes,20,samuel.nunes@yahoo.com.br
5,184.930.576-57,Esther Sales,24,esther.sales@yahoo.com.br
6,742.853.691-09,Otávio Pires,18,otávio.pires@yahoo.com.br
7,826.950.173-59,Sophia Costa,14,sophia.costa@gmail.com
8,780.952.341-41,Brenda Nascimento,13,brenda.nascimento@uol.com.br
9,724.560.193-34,Igor da Luz,21,igor.daluz@ig.com.br
10,832.950.714-97,Isabella Rocha,14,isabella.rocha@gmail.com
11,985.267.031-02,Elisa Aragão,20,elisa.aragão@gmail.com
12,184.297.630-31,Benjamin Cunha,11,benjamin.cunha@yahoo.com.br
13,041.397.268-22,Ana Vitória Dias,19,anavitória.dias@yahoo.com.br
14,438.072.916-87,Kevin da Costa,23,kevin.dacosta@ig.com.br
15,369.158.742-91,Lavínia Moura,24,lavínia.moura@gmail.com
16,637.028.591-95,Gabriel da Mata,22,gabriel.damata@gmail.com
17,201.853.967-12,Esther da Cruz,25,esther.dacruz@ig.com.br
18,482.071.563-17,Thomas Alves,13,thomas.alves@uol.com.br
19,657.843.902-10,Gabriela Caldeira,18,gabriela.caldeira@uol.com.br
20,504.963.728-74,Joaquim Araújo,22,joaquim.araújo@ig.com.br
21,316.497.528-73,Lorena Barros,14,lorena.barros@uol.com.br
22,420.169.785-11,Bárbara Ribeiro,29,bárbara.ribeiro@yahoo.com.br
23,419.708.652-02,Davi Lucca Castro,16,davilucca.castro@uol.com.br
24,579.812.340-50,Emilly da Cruz,16,emilly.dacruz@bol.com.br
25,790.531.284-41,Laura Duarte,20,laura.duarte@ig.com.br
26,062.395.148-70,Leandro Gomes,11,leandro.gomes@yahoo.com.br
27,314.650.289-51,Ana Beatriz Pinto,28,anabeatriz.pinto@gmail.com
28,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br
29,378.645.109-57,Vitor Hugo Nascimento,20,vitorhugo.nascimento@uol.com.br

In [9]:
automoveis = pd.DataFrame.from_records(lista_automoveis)
automoveis

       marca   ano        dono_cpf
0       audi  2021  498.137.502-60
1    citroen  2018  498.137.502-60
2       ford  1987  498.137.502-60
3       audi  2002  405.912.638-15
4    porsche  1979  405.912.638-15
..       ...   ...             ...
58  mercedez  1999  314.650.289-51
59      audi  2007  314.650.289-51
60  mercedez  1977  036.128.974-03
61   peugeut  2002  036.128.974-03
62    suzuki  2019  036.128.974-03

[63 rows x 3 columns]

In [10]:
# se a coleção não existir, ela é criada automagicamente :-)
colecao_pessoa = db['pessoas']
pessoa_ids = colecao_pessoa.insert_many(lista_pessoas).inserted_ids
pessoa_ids

[ObjectId('62eee52adeeef0f94766edd7'),
 ObjectId('62eee52adeeef0f94766edd8'),
 ObjectId('62eee52adeeef0f94766edd9'),
 ObjectId('62eee52adeeef0f94766edda'),
 ObjectId('62eee52adeeef0f94766eddb'),
 ObjectId('62eee52adeeef0f94766eddc'),
 ObjectId('62eee52adeeef0f94766eddd'),
 ObjectId('62eee52adeeef0f94766edde'),
 ObjectId('62eee52adeeef0f94766eddf'),
 ObjectId('62eee52adeeef0f94766ede0'),
 ObjectId('62eee52adeeef0f94766ede1'),
 ObjectId('62eee52adeeef0f94766ede2'),
 ObjectId('62eee52adeeef0f94766ede3'),
 ObjectId('62eee52adeeef0f94766ede4'),
 ObjectId('62eee52adeeef0f94766ede5'),
 ObjectId('62eee52adeeef0f94766ede6'),
 ObjectId('62eee52adeeef0f94766ede7'),
 ObjectId('62eee52adeeef0f94766ede8'),
 ObjectId('62eee52adeeef0f94766ede9'),
 ObjectId('62eee52adeeef0f94766edea'),
 ObjectId('62eee52adeeef0f94766edeb'),
 ObjectId('62eee52adeeef0f94766edec'),
 ObjectId('62eee52adeeef0f94766eded'),
 ObjectId('62eee52adeeef0f94766edee'),
 ObjectId('62eee52adeeef0f94766edef'),
 ObjectId('62eee52adeeef0f94766edf0'),
 ObjectId('62eee52adeeef0f94766edf1'),
 ObjectId('62eee52adeeef0f94766edf2'),
 ObjectId('62eee52adeeef0f94766edf3'),
 ObjectId('62eee52adeeef0f94766edf4')]

In [11]:
# se a coleção não existir, ela é criada automagicamente :-)
colecao_automoveis = db['automoveis']
automovel_ids = colecao_automoveis.insert_many(lista_automoveis).inserted_ids
automovel_ids

[ObjectId('62eee52adeeef0f94766edf5'),
 ObjectId('62eee52adeeef0f94766edf6'),
 ObjectId('62eee52adeeef0f94766edf7'),
 ObjectId('62eee52adeeef0f94766edf8'),
 ObjectId('62eee52adeeef0f94766edf9'),
 ObjectId('62eee52adeeef0f94766edfa'),
 ObjectId('62eee52adeeef0f94766edfb'),
 ObjectId('62eee52adeeef0f94766edfc'),
 ObjectId('62eee52adeeef0f94766edfd'),
 ObjectId('62eee52adeeef0f94766edfe'),
 ObjectId('62eee52adeeef0f94766edff'),
 ObjectId('62eee52adeeef0f94766ee00'),
 ObjectId('62eee52adeeef0f94766ee01'),
 ObjectId('62eee52adeeef0f94766ee02'),
 ObjectId('62eee52adeeef0f94766ee03'),
 ObjectId('62eee52adeeef0f94766ee04'),
 ObjectId('62eee52adeeef0f94766ee05'),
 ObjectId('62eee52adeeef0f94766ee06'),
 ObjectId('62eee52adeeef0f94766ee07'),
 ObjectId('62eee52adeeef0f94766ee08'),
 ObjectId('62eee52adeeef0f94766ee09'),
 ObjectId('62eee52adeeef0f94766ee0a'),
 ObjectId('62eee52adeeef0f94766ee0b'),
 ObjectId('62eee52adeeef0f94766ee0c'),
 ObjectId('62eee52adeeef0f94766ee0d'),
 ObjectId('62eee52adeeef0f94766ee0e'),
 ObjectId('62eee52adeeef0f94766ee0f'),
 ObjectId('62eee52adeeef0f94766ee10'),
 ObjectId('62eee52adeeef0f94766ee11'),
 ObjectId('62eee52adeeef0f94766ee12'),
 ObjectId('62eee52adeeef0f94766ee13'),
 ObjectId('62eee52adeeef0f94766ee14'),
 ObjectId('62eee52adeeef0f94766ee15'),
 ObjectId('62eee52adeeef0f94766ee16'),
 ObjectId('62eee52adeeef0f94766ee17'),
 ObjectId('62eee52adeeef0f94766ee18'),
 ObjectId('62eee52adeeef0f94766ee19'),
 ObjectId('62eee52adeeef0f94766ee1a'),
 ObjectId('62eee52adeeef0f94766ee1b'),
 ObjectId('62eee52adeeef0f94766ee1c'),
 ObjectId('62eee52adeeef0f94766ee1d'),
 ObjectId('62eee52adeeef0f94766ee1e'),
 ObjectId('62eee52adeeef0f94766ee1f'),
 ObjectId('62eee52adeeef0f94766ee20'),
 ObjectId('62eee52adeeef0f94766ee21'),
 ObjectId('62eee52adeeef0f94766ee22'),
 ObjectId('62eee52adeeef0f94766ee23'),
 ObjectId('62eee52adeeef0f94766ee24'),
 ObjectId('62eee52adeeef0f94766ee25'),
 ObjectId('62eee52adeeef0f94766ee26'),
 ObjectId('62eee52adeeef0f94766ee27'),
 ObjectId('62eee52adeeef0f94766ee28'),
 ObjectId('62eee52adeeef0f94766ee29'),
 ObjectId('62eee52adeeef0f94766ee2a'),
 ObjectId('62eee52adeeef0f94766ee2b'),
 ObjectId('62eee52adeeef0f94766ee2c'),
 ObjectId('62eee52adeeef0f94766ee2d'),
 ObjectId('62eee52adeeef0f94766ee2e'),
 ObjectId('62eee52adeeef0f94766ee2f'),
 ObjectId('62eee52adeeef0f94766ee30'),
 ObjectId('62eee52adeeef0f94766ee31'),
 ObjectId('62eee52adeeef0f94766ee32'),
 ObjectId('62eee52adeeef0f94766ee33')]

## Utilizando o aggregate para realizar o join

### Construção do pipeline

In [12]:
sql = """
SELECT *
FROM pessoas
"""

print(sql)

SELECT *
FROM pessoas

In [13]:
sqldf(sql, globals())

,cpf,nome,idade,email
0,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com
1,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br
2,509.634.721-43,Francisco da Cunha,20,francisco.dacunha@ig.com.br
3,738.594.026-92,Marcelo Almeida,24,marcelo.almeida@bol.com.br
4,369.785.041-57,Samuel Nunes,20,samuel.nunes@yahoo.com.br
5,184.930.576-57,Esther Sales,24,esther.sales@yahoo.com.br
6,742.853.691-09,Otávio Pires,18,otávio.pires@yahoo.com.br
7,826.950.173-59,Sophia Costa,14,sophia.costa@gmail.com
8,780.952.341-41,Brenda Nascimento,13,brenda.nascimento@uol.com.br
9,724.560.193-34,Igor da Luz,21,igor.daluz@ig.com.br
10,832.950.714-97,Isabella Rocha,14,isabella.rocha@gmail.com
11,985.267.031-02,Elisa Aragão,20,elisa.aragão@gmail.com
12,184.297.630-31,Benjamin Cunha,11,benjamin.cunha@yahoo.com.br
13,041.397.268-22,Ana Vitória Dias,19,anavitória.dias@yahoo.com.br
14,438.072.916-87,Kevin da Costa,23,kevin.dacosta@ig.com.br
15,369.158.742-91,Lavínia Moura,24,lavínia.moura@gmail.com
16,637.028.591-95,Gabriel da Mata,22,gabriel.damata@gmail.com
17,201.853.967-12,Esther da Cruz,25,esther.dacruz@ig.com.br
18,482.071.563-17,Thomas Alves,13,thomas.alves@uol.com.br
19,657.843.902-10,Gabriela Caldeira,18,gabriela.caldeira@uol.com.br
20,504.963.728-74,Joaquim Araújo,22,joaquim.araújo@ig.com.br
21,316.497.528-73,Lorena Barros,14,lorena.barros@uol.com.br
22,420.169.785-11,Bárbara Ribeiro,29,bárbara.ribeiro@yahoo.com.br
23,419.708.652-02,Davi Lucca Castro,16,davilucca.castro@uol.com.br
24,579.812.340-50,Emilly da Cruz,16,emilly.dacruz@bol.com.br
25,790.531.284-41,Laura Duarte,20,laura.duarte@ig.com.br
26,062.395.148-70,Leandro Gomes,11,leandro.gomes@yahoo.com.br
27,314.650.289-51,Ana Beatriz Pinto,28,anabeatriz.pinto@gmail.com
28,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br
29,378.645.109-57,Vitor Hugo Nascimento,20,vitorhugo.nascimento@uol.com.br

In [14]:
sql = """
SELECT *
FROM automoveis
"""

print(sql)

SELECT *
FROM automoveis

In [15]:
sqldf(sql, globals())

       marca   ano        dono_cpf
0       audi  2021  498.137.502-60
1    citroen  2018  498.137.502-60
2       ford  1987  498.137.502-60
3       audi  2002  405.912.638-15
4    porsche  1979  405.912.638-15
..       ...   ...             ...
58  mercedez  1999  314.650.289-51
59      audi  2007  314.650.289-51
60  mercedez  1977  036.128.974-03
61   peugeut  2002  036.128.974-03
62    suzuki  2019  036.128.974-03

[63 rows x 3 columns]

### Consulta: 
- quero exibir **pessoas** e os seus **veículos**

In [16]:
sql = """
SELECT *
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
"""

print(sql)

SELECT *
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf

In [17]:
sqldf(sql, globals())

,cpf,nome,idade,email,marca,ano,dono_cpf
0,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com,audi,2021.0,498.137.502-60
1,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com,citroen,2018.0,498.137.502-60
2,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com,ford,1987.0,498.137.502-60
3,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br,audi,1998.0,405.912.638-15
4,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br,audi,2002.0,405.912.638-15
...,...,...,...,...,...,...,...
64,314.650.289-51,Ana Beatriz Pinto,28,anabeatriz.pinto@gmail.com,porsche,1984.0,314.650.289-51
65,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br,mercedez,1977.0,036.128.974-03
66,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br,peugeut,2002.0,036.128.974-03
67,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br,suzuki,2019.0,036.128.974-03
68,378.645.109-57,Vitor Hugo Nascimento,20,vitorhugo.nascimento@uol.com.br,None,NaN,None

In [18]:
pipeline = [
    
    # realiza o left join
    {"$lookup": {
        'from': 'automoveis',
        'localField': 'cpf',
        'foreignField': 'dono_cpf',
        'as': 'automoveis'}
    },
]

pipeline

[{'$lookup': {'from': 'automoveis',
   'localField': 'cpf',
   'foreignField': 'dono_cpf',
   'as': 'automoveis'}}]

In [19]:
pp.pprint(list(colecao_pessoa.aggregate(pipeline)))

[{'_id': ObjectId('62eee52adeeef0f94766edd7'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766edf5'),
                  'ano': 2021,
                  'dono_cpf': '498.137.502-60',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766edf6'),
                  'ano': 2018,
                  'dono_cpf': '498.137.502-60',
                  'marca': 'citroen'},
                 {'_id': ObjectId('62eee52adeeef0f94766edf7'),
                  'ano': 1987,
                  'dono_cpf': '498.137.502-60',
                  'marca': 'ford'}],
  'cpf': '498.137.502-60',
  'email': 'anaclara.moraes@gmail.com',
  'idade': 23,
  'nome': 'Ana Clara Moraes'},
 {'_id': ObjectId('62eee52adeeef0f94766edd8'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766edf8'),
                  'ano': 2002,
                  'dono_cpf': '405.912.638-15',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766edf9'),
                  'ano': 1979,
                  'dono_cpf': '405.912.638-15',
                  'marca': 'porsche'},
                 {'_id': ObjectId('62eee52adeeef0f94766edfa'),
                  'ano': 1983,
                  'dono_cpf': '405.912.638-15',
                  'marca': 'ford'},
                 {'_id': ObjectId('62eee52adeeef0f94766edfb'),
                  'ano': 1998,
                  'dono_cpf': '405.912.638-15',
                  'marca': 'audi'}],
  'cpf': '405.912.638-15',
  'email': 'bruno.vieira@yahoo.com.br',
  'idade': 21,
  'nome': 'Bruno Vieira'},
 {'_id': ObjectId('62eee52adeeef0f94766edd9'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766edfc'),
                  'ano': 2013,
                  'dono_cpf': '509.634.721-43',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766edfd'),
                  'ano': 1979,
                  'dono_cpf': '509.634.721-43',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766edfe'),
                  'ano': 1979,
                  'dono_cpf': '509.634.721-43',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766edff'),
                  'ano': 2003,
                  'dono_cpf': '509.634.721-43',
                  'marca': 'ford'}],
  'cpf': '509.634.721-43',
  'email': 'francisco.dacunha@ig.com.br',
  'idade': 20,
  'nome': 'Francisco da Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766edda'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee00'),
                  'ano': 2018,
                  'dono_cpf': '738.594.026-92',
                  'marca': 'peugeut'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee01'),
                  'ano': 1978,
                  'dono_cpf': '738.594.026-92',
                  'marca': 'renault'}],
  'cpf': '738.594.026-92',
  'email': 'marcelo.almeida@bol.com.br',
  'idade': 24,
  'nome': 'Marcelo Almeida'},
 {'_id': ObjectId('62eee52adeeef0f94766eddb'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee02'),
                  'ano': 2011,
                  'dono_cpf': '369.785.041-57',
                  'marca': 'vw'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee03'),
                  'ano': 1996,
                  'dono_cpf': '369.785.041-57',
                  'marca': 'peugeut'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee04'),
                  'ano': 1970,
                  'dono_cpf': '369.785.041-57',
                  'marca': 'audi'}],
  'cpf': '369.785.041-57',
  'email': 'samuel.nunes@yahoo.com.br',
  'idade': 20,
  'nome': 'Samuel Nunes'},
 {'_id': ObjectId('62eee52adeeef0f94766eddc'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee05'),
                  'ano': 2003,
                  'dono_cpf': '184.930.576-57',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee06'),
                  'ano': 2001,
                  'dono_cpf': '184.930.576-57',
                  'marca': 'renault'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee07'),
                  'ano': 2017,
                  'dono_cpf': '184.930.576-57',
                  'marca': 'ferrari'}],
  'cpf': '184.930.576-57',
  'email': 'esther.sales@yahoo.com.br',
  'idade': 24,
  'nome': 'Esther Sales'},
 {'_id': ObjectId('62eee52adeeef0f94766eddd'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee08'),
                  'ano': 2009,
                  'dono_cpf': '742.853.691-09',
                  'marca': 'bmw'}],
  'cpf': '742.853.691-09',
  'email': 'otávio.pires@yahoo.com.br',
  'idade': 18,
  'nome': 'Otávio Pires'},
 {'_id': ObjectId('62eee52adeeef0f94766edde'),
  'automoveis': [],
  'cpf': '826.950.173-59',
  'email': 'sophia.costa@gmail.com',
  'idade': 14,
  'nome': 'Sophia Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766eddf'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee09'),
                  'ano': 2004,
                  'dono_cpf': '780.952.341-41',
                  'marca': 'porsche'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee0a'),
                  'ano': 1994,
                  'dono_cpf': '780.952.341-41',
                  'marca': 'fiat'}],
  'cpf': '780.952.341-41',
  'email': 'brenda.nascimento@uol.com.br',
  'idade': 13,
  'nome': 'Brenda Nascimento'},
 {'_id': ObjectId('62eee52adeeef0f94766ede0'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee0b'),
                  'ano': 1989,
                  'dono_cpf': '724.560.193-34',
                  'marca': 'toyota'}],
  'cpf': '724.560.193-34',
  'email': 'igor.daluz@ig.com.br',
  'idade': 21,
  'nome': 'Igor da Luz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede1'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee0c'),
                  'ano': 1974,
                  'dono_cpf': '832.950.714-97',
                  'marca': 'jeep'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee0d'),
                  'ano': 1982,
                  'dono_cpf': '832.950.714-97',
                  'marca': 'porsche'}],
  'cpf': '832.950.714-97',
  'email': 'isabella.rocha@gmail.com',
  'idade': 14,
  'nome': 'Isabella Rocha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede2'),
  'automoveis': [],
  'cpf': '985.267.031-02',
  'email': 'elisa.aragão@gmail.com',
  'idade': 20,
  'nome': 'Elisa Aragão'},
 {'_id': ObjectId('62eee52adeeef0f94766ede3'),
  'automoveis': [],
  'cpf': '184.297.630-31',
  'email': 'benjamin.cunha@yahoo.com.br',
  'idade': 11,
  'nome': 'Benjamin Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede4'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee0e'),
                  'ano': 1987,
                  'dono_cpf': '041.397.268-22',
                  'marca': 'mercedez'}],
  'cpf': '041.397.268-22',
  'email': 'anavitória.dias@yahoo.com.br',
  'idade': 19,
  'nome': 'Ana Vitória Dias'},
 {'_id': ObjectId('62eee52adeeef0f94766ede5'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee0f'),
                  'ano': 2008,
                  'dono_cpf': '438.072.916-87',
                  'marca': 'jeep'}],
  'cpf': '438.072.916-87',
  'email': 'kevin.dacosta@ig.com.br',
  'idade': 23,
  'nome': 'Kevin da Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766ede6'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee10'),
                  'ano': 1977,
                  'dono_cpf': '369.158.742-91',
                  'marca': 'ford'}],
  'cpf': '369.158.742-91',
  'email': 'lavínia.moura@gmail.com',
  'idade': 24,
  'nome': 'Lavínia Moura'},
 {'_id': ObjectId('62eee52adeeef0f94766ede7'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee11'),
                  'ano': 1982,
                  'dono_cpf': '637.028.591-95',
                  'marca': 'ferrari'}],
  'cpf': '637.028.591-95',
  'email': 'gabriel.damata@gmail.com',
  'idade': 22,
  'nome': 'Gabriel da Mata'},
 {'_id': ObjectId('62eee52adeeef0f94766ede8'),
  'automoveis': [],
  'cpf': '201.853.967-12',
  'email': 'esther.dacruz@ig.com.br',
  'idade': 25,
  'nome': 'Esther da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede9'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee12'),
                  'ano': 2003,
                  'dono_cpf': '482.071.563-17',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee13'),
                  'ano': 1982,
                  'dono_cpf': '482.071.563-17',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee14'),
                  'ano': 2010,
                  'dono_cpf': '482.071.563-17',
                  'marca': 'citroen'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee15'),
                  'ano': 1980,
                  'dono_cpf': '482.071.563-17',
                  'marca': 'jeep'}],
  'cpf': '482.071.563-17',
  'email': 'thomas.alves@uol.com.br',
  'idade': 13,
  'nome': 'Thomas Alves'},
 {'_id': ObjectId('62eee52adeeef0f94766edea'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee16'),
                  'ano': 1983,
                  'dono_cpf': '657.843.902-10',
                  'marca': 'citroen'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee17'),
                  'ano': 1976,
                  'dono_cpf': '657.843.902-10',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee18'),
                  'ano': 2001,
                  'dono_cpf': '657.843.902-10',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee19'),
                  'ano': 1989,
                  'dono_cpf': '657.843.902-10',
                  'marca': 'jeep'}],
  'cpf': '657.843.902-10',
  'email': 'gabriela.caldeira@uol.com.br',
  'idade': 18,
  'nome': 'Gabriela Caldeira'},
 {'_id': ObjectId('62eee52adeeef0f94766edeb'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee1a'),
                  'ano': 1994,
                  'dono_cpf': '504.963.728-74',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee1b'),
                  'ano': 1970,
                  'dono_cpf': '504.963.728-74',
                  'marca': 'peugeut'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee1c'),
                  'ano': 1983,
                  'dono_cpf': '504.963.728-74',
                  'marca': 'suzuki'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee1d'),
                  'ano': 1988,
                  'dono_cpf': '504.963.728-74',
                  'marca': 'ford'}],
  'cpf': '504.963.728-74',
  'email': 'joaquim.araújo@ig.com.br',
  'idade': 22,
  'nome': 'Joaquim Araújo'},
 {'_id': ObjectId('62eee52adeeef0f94766edec'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee1e'),
                  'ano': 1970,
                  'dono_cpf': '316.497.528-73',
                  'marca': 'porsche'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee1f'),
                  'ano': 1996,
                  'dono_cpf': '316.497.528-73',
                  'marca': 'suzuki'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee20'),
                  'ano': 1988,
                  'dono_cpf': '316.497.528-73',
                  'marca': 'ferrari'}],
  'cpf': '316.497.528-73',
  'email': 'lorena.barros@uol.com.br',
  'idade': 14,
  'nome': 'Lorena Barros'},
 {'_id': ObjectId('62eee52adeeef0f94766eded'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee21'),
                  'ano': 2018,
                  'dono_cpf': '420.169.785-11',
                  'marca': 'bmw'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee22'),
                  'ano': 2003,
                  'dono_cpf': '420.169.785-11',
                  'marca': 'porsche'}],
  'cpf': '420.169.785-11',
  'email': 'bárbara.ribeiro@yahoo.com.br',
  'idade': 29,
  'nome': 'Bárbara Ribeiro'},
 {'_id': ObjectId('62eee52adeeef0f94766edee'),
  'automoveis': [],
  'cpf': '419.708.652-02',
  'email': 'davilucca.castro@uol.com.br',
  'idade': 16,
  'nome': 'Davi Lucca Castro'},
 {'_id': ObjectId('62eee52adeeef0f94766edef'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee23'),
                  'ano': 2005,
                  'dono_cpf': '579.812.340-50',
                  'marca': 'suzuki'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee24'),
                  'ano': 1987,
                  'dono_cpf': '579.812.340-50',
                  'marca': 'peugeut'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee25'),
                  'ano': 2010,
                  'dono_cpf': '579.812.340-50',
                  'marca': 'audi'}],
  'cpf': '579.812.340-50',
  'email': 'emilly.dacruz@bol.com.br',
  'idade': 16,
  'nome': 'Emilly da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766edf0'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee26'),
                  'ano': 2016,
                  'dono_cpf': '790.531.284-41',
                  'marca': 'ferrari'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee27'),
                  'ano': 1984,
                  'dono_cpf': '790.531.284-41',
                  'marca': 'audi'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee28'),
                  'ano': 2020,
                  'dono_cpf': '790.531.284-41',
                  'marca': 'toyota'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee29'),
                  'ano': 1980,
                  'dono_cpf': '790.531.284-41',
                  'marca': 'toyota'}],
  'cpf': '790.531.284-41',
  'email': 'laura.duarte@ig.com.br',
  'idade': 20,
  'nome': 'Laura Duarte'},
 {'_id': ObjectId('62eee52adeeef0f94766edf1'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee2a'),
                  'ano': 1995,
                  'dono_cpf': '062.395.148-70',
                  'marca': 'toyota'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee2b'),
                  'ano': 1971,
                  'dono_cpf': '062.395.148-70',
                  'marca': 'jeep'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee2c'),
                  'ano': 2010,
                  'dono_cpf': '062.395.148-70',
                  'marca': 'suzuki'}],
  'cpf': '062.395.148-70',
  'email': 'leandro.gomes@yahoo.com.br',
  'idade': 11,
  'nome': 'Leandro Gomes'},
 {'_id': ObjectId('62eee52adeeef0f94766edf2'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee2d'),
                  'ano': 2018,
                  'dono_cpf': '314.650.289-51',
                  'marca': 'citroen'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee2e'),
                  'ano': 1984,
                  'dono_cpf': '314.650.289-51',
                  'marca': 'porsche'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee2f'),
                  'ano': 1999,
                  'dono_cpf': '314.650.289-51',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee30'),
                  'ano': 2007,
                  'dono_cpf': '314.650.289-51',
                  'marca': 'audi'}],
  'cpf': '314.650.289-51',
  'email': 'anabeatriz.pinto@gmail.com',
  'idade': 28,
  'nome': 'Ana Beatriz Pinto'},
 {'_id': ObjectId('62eee52adeeef0f94766edf3'),
  'automoveis': [{'_id': ObjectId('62eee52adeeef0f94766ee31'),
                  'ano': 1977,
                  'dono_cpf': '036.128.974-03',
                  'marca': 'mercedez'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee32'),
                  'ano': 2002,
                  'dono_cpf': '036.128.974-03',
                  'marca': 'peugeut'},
                 {'_id': ObjectId('62eee52adeeef0f94766ee33'),
                  'ano': 2019,
                  'dono_cpf': '036.128.974-03',
                  'marca': 'suzuki'}],
  'cpf': '036.128.974-03',
  'email': 'nathan.barbosa@uol.com.br',
  'idade': 15,
  'nome': 'Nathan Barbosa'},
 {'_id': ObjectId('62eee52adeeef0f94766edf4'),
  'automoveis': [],
  'cpf': '378.645.109-57',
  'email': 'vitorhugo.nascimento@uol.com.br',
  'idade': 20,
  'nome': 'Vitor Hugo Nascimento'}]

### Consulta: 
- quero exibir **automóveis** e os seus respectivos **donos**

In [20]:
sql = """
SELECT *
FROM automoveis as a left join pessoas as p 
    on p.cpf = a.dono_cpf
"""

print(sql)

SELECT *
FROM automoveis as a left join pessoas as p
    on p.cpf = a.dono_cpf

In [21]:
sqldf(sql, globals())

,marca,ano,dono_cpf,cpf,nome,idade,email
0,audi,2021,498.137.502-60,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com
1,citroen,2018,498.137.502-60,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com
2,ford,1987,498.137.502-60,498.137.502-60,Ana Clara Moraes,23,anaclara.moraes@gmail.com
3,audi,2002,405.912.638-15,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br
4,porsche,1979,405.912.638-15,405.912.638-15,Bruno Vieira,21,bruno.vieira@yahoo.com.br
...,...,...,...,...,...,...,...
58,mercedez,1999,314.650.289-51,314.650.289-51,Ana Beatriz Pinto,28,anabeatriz.pinto@gmail.com
59,audi,2007,314.650.289-51,314.650.289-51,Ana Beatriz Pinto,28,anabeatriz.pinto@gmail.com
60,mercedez,1977,036.128.974-03,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br
61,peugeut,2002,036.128.974-03,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br
62,suzuki,2019,036.128.974-03,036.128.974-03,Nathan Barbosa,15,nathan.barbosa@uol.com.br

In [22]:
pipeline = [
    
    # realiza o left join
    {"$lookup": {
        'from': 'pessoas',
        'localField': 'dono_cpf',
        'foreignField': 'cpf',
        'as': 'dono'}
    },
]

pipeline

[{'$lookup': {'from': 'pessoas',
   'localField': 'dono_cpf',
   'foreignField': 'cpf',
   'as': 'dono'}}]

In [23]:
pp.pprint(list(colecao_automoveis.aggregate(pipeline)))

[{'_id': ObjectId('62eee52adeeef0f94766edf5'),
  'ano': 2021,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd7'),
            'cpf': '498.137.502-60',
            'email': 'anaclara.moraes@gmail.com',
            'idade': 23,
            'nome': 'Ana Clara Moraes'}],
  'dono_cpf': '498.137.502-60',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766edf6'),
  'ano': 2018,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd7'),
            'cpf': '498.137.502-60',
            'email': 'anaclara.moraes@gmail.com',
            'idade': 23,
            'nome': 'Ana Clara Moraes'}],
  'dono_cpf': '498.137.502-60',
  'marca': 'citroen'},
 {'_id': ObjectId('62eee52adeeef0f94766edf7'),
  'ano': 1987,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd7'),
            'cpf': '498.137.502-60',
            'email': 'anaclara.moraes@gmail.com',
            'idade': 23,
            'nome': 'Ana Clara Moraes'}],
  'dono_cpf': '498.137.502-60',
  'marca': 'ford'},
 {'_id': ObjectId('62eee52adeeef0f94766edf8'),
  'ano': 2002,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd8'),
            'cpf': '405.912.638-15',
            'email': 'bruno.vieira@yahoo.com.br',
            'idade': 21,
            'nome': 'Bruno Vieira'}],
  'dono_cpf': '405.912.638-15',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766edf9'),
  'ano': 1979,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd8'),
            'cpf': '405.912.638-15',
            'email': 'bruno.vieira@yahoo.com.br',
            'idade': 21,
            'nome': 'Bruno Vieira'}],
  'dono_cpf': '405.912.638-15',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766edfa'),
  'ano': 1983,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd8'),
            'cpf': '405.912.638-15',
            'email': 'bruno.vieira@yahoo.com.br',
            'idade': 21,
            'nome': 'Bruno Vieira'}],
  'dono_cpf': '405.912.638-15',
  'marca': 'ford'},
 {'_id': ObjectId('62eee52adeeef0f94766edfb'),
  'ano': 1998,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd8'),
            'cpf': '405.912.638-15',
            'email': 'bruno.vieira@yahoo.com.br',
            'idade': 21,
            'nome': 'Bruno Vieira'}],
  'dono_cpf': '405.912.638-15',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766edfc'),
  'ano': 2013,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd9'),
            'cpf': '509.634.721-43',
            'email': 'francisco.dacunha@ig.com.br',
            'idade': 20,
            'nome': 'Francisco da Cunha'}],
  'dono_cpf': '509.634.721-43',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766edfd'),
  'ano': 1979,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd9'),
            'cpf': '509.634.721-43',
            'email': 'francisco.dacunha@ig.com.br',
            'idade': 20,
            'nome': 'Francisco da Cunha'}],
  'dono_cpf': '509.634.721-43',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766edfe'),
  'ano': 1979,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd9'),
            'cpf': '509.634.721-43',
            'email': 'francisco.dacunha@ig.com.br',
            'idade': 20,
            'nome': 'Francisco da Cunha'}],
  'dono_cpf': '509.634.721-43',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766edff'),
  'ano': 2003,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edd9'),
            'cpf': '509.634.721-43',
            'email': 'francisco.dacunha@ig.com.br',
            'idade': 20,
            'nome': 'Francisco da Cunha'}],
  'dono_cpf': '509.634.721-43',
  'marca': 'ford'},
 {'_id': ObjectId('62eee52adeeef0f94766ee00'),
  'ano': 2018,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edda'),
            'cpf': '738.594.026-92',
            'email': 'marcelo.almeida@bol.com.br',
            'idade': 24,
            'nome': 'Marcelo Almeida'}],
  'dono_cpf': '738.594.026-92',
  'marca': 'peugeut'},
 {'_id': ObjectId('62eee52adeeef0f94766ee01'),
  'ano': 1978,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edda'),
            'cpf': '738.594.026-92',
            'email': 'marcelo.almeida@bol.com.br',
            'idade': 24,
            'nome': 'Marcelo Almeida'}],
  'dono_cpf': '738.594.026-92',
  'marca': 'renault'},
 {'_id': ObjectId('62eee52adeeef0f94766ee02'),
  'ano': 2011,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddb'),
            'cpf': '369.785.041-57',
            'email': 'samuel.nunes@yahoo.com.br',
            'idade': 20,
            'nome': 'Samuel Nunes'}],
  'dono_cpf': '369.785.041-57',
  'marca': 'vw'},
 {'_id': ObjectId('62eee52adeeef0f94766ee03'),
  'ano': 1996,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddb'),
            'cpf': '369.785.041-57',
            'email': 'samuel.nunes@yahoo.com.br',
            'idade': 20,
            'nome': 'Samuel Nunes'}],
  'dono_cpf': '369.785.041-57',
  'marca': 'peugeut'},
 {'_id': ObjectId('62eee52adeeef0f94766ee04'),
  'ano': 1970,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddb'),
            'cpf': '369.785.041-57',
            'email': 'samuel.nunes@yahoo.com.br',
            'idade': 20,
            'nome': 'Samuel Nunes'}],
  'dono_cpf': '369.785.041-57',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee05'),
  'ano': 2003,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddc'),
            'cpf': '184.930.576-57',
            'email': 'esther.sales@yahoo.com.br',
            'idade': 24,
            'nome': 'Esther Sales'}],
  'dono_cpf': '184.930.576-57',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee06'),
  'ano': 2001,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddc'),
            'cpf': '184.930.576-57',
            'email': 'esther.sales@yahoo.com.br',
            'idade': 24,
            'nome': 'Esther Sales'}],
  'dono_cpf': '184.930.576-57',
  'marca': 'renault'},
 {'_id': ObjectId('62eee52adeeef0f94766ee07'),
  'ano': 2017,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddc'),
            'cpf': '184.930.576-57',
            'email': 'esther.sales@yahoo.com.br',
            'idade': 24,
            'nome': 'Esther Sales'}],
  'dono_cpf': '184.930.576-57',
  'marca': 'ferrari'},
 {'_id': ObjectId('62eee52adeeef0f94766ee08'),
  'ano': 2009,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddd'),
            'cpf': '742.853.691-09',
            'email': 'otávio.pires@yahoo.com.br',
            'idade': 18,
            'nome': 'Otávio Pires'}],
  'dono_cpf': '742.853.691-09',
  'marca': 'bmw'},
 {'_id': ObjectId('62eee52adeeef0f94766ee09'),
  'ano': 2004,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddf'),
            'cpf': '780.952.341-41',
            'email': 'brenda.nascimento@uol.com.br',
            'idade': 13,
            'nome': 'Brenda Nascimento'}],
  'dono_cpf': '780.952.341-41',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0a'),
  'ano': 1994,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eddf'),
            'cpf': '780.952.341-41',
            'email': 'brenda.nascimento@uol.com.br',
            'idade': 13,
            'nome': 'Brenda Nascimento'}],
  'dono_cpf': '780.952.341-41',
  'marca': 'fiat'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0b'),
  'ano': 1989,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede0'),
            'cpf': '724.560.193-34',
            'email': 'igor.daluz@ig.com.br',
            'idade': 21,
            'nome': 'Igor da Luz'}],
  'dono_cpf': '724.560.193-34',
  'marca': 'toyota'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0c'),
  'ano': 1974,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede1'),
            'cpf': '832.950.714-97',
            'email': 'isabella.rocha@gmail.com',
            'idade': 14,
            'nome': 'Isabella Rocha'}],
  'dono_cpf': '832.950.714-97',
  'marca': 'jeep'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0d'),
  'ano': 1982,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede1'),
            'cpf': '832.950.714-97',
            'email': 'isabella.rocha@gmail.com',
            'idade': 14,
            'nome': 'Isabella Rocha'}],
  'dono_cpf': '832.950.714-97',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0e'),
  'ano': 1987,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede4'),
            'cpf': '041.397.268-22',
            'email': 'anavitória.dias@yahoo.com.br',
            'idade': 19,
            'nome': 'Ana Vitória Dias'}],
  'dono_cpf': '041.397.268-22',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee0f'),
  'ano': 2008,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede5'),
            'cpf': '438.072.916-87',
            'email': 'kevin.dacosta@ig.com.br',
            'idade': 23,
            'nome': 'Kevin da Costa'}],
  'dono_cpf': '438.072.916-87',
  'marca': 'jeep'},
 {'_id': ObjectId('62eee52adeeef0f94766ee10'),
  'ano': 1977,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede6'),
            'cpf': '369.158.742-91',
            'email': 'lavínia.moura@gmail.com',
            'idade': 24,
            'nome': 'Lavínia Moura'}],
  'dono_cpf': '369.158.742-91',
  'marca': 'ford'},
 {'_id': ObjectId('62eee52adeeef0f94766ee11'),
  'ano': 1982,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede7'),
            'cpf': '637.028.591-95',
            'email': 'gabriel.damata@gmail.com',
            'idade': 22,
            'nome': 'Gabriel da Mata'}],
  'dono_cpf': '637.028.591-95',
  'marca': 'ferrari'},
 {'_id': ObjectId('62eee52adeeef0f94766ee12'),
  'ano': 2003,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede9'),
            'cpf': '482.071.563-17',
            'email': 'thomas.alves@uol.com.br',
            'idade': 13,
            'nome': 'Thomas Alves'}],
  'dono_cpf': '482.071.563-17',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee13'),
  'ano': 1982,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede9'),
            'cpf': '482.071.563-17',
            'email': 'thomas.alves@uol.com.br',
            'idade': 13,
            'nome': 'Thomas Alves'}],
  'dono_cpf': '482.071.563-17',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee14'),
  'ano': 2010,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede9'),
            'cpf': '482.071.563-17',
            'email': 'thomas.alves@uol.com.br',
            'idade': 13,
            'nome': 'Thomas Alves'}],
  'dono_cpf': '482.071.563-17',
  'marca': 'citroen'},
 {'_id': ObjectId('62eee52adeeef0f94766ee15'),
  'ano': 1980,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766ede9'),
            'cpf': '482.071.563-17',
            'email': 'thomas.alves@uol.com.br',
            'idade': 13,
            'nome': 'Thomas Alves'}],
  'dono_cpf': '482.071.563-17',
  'marca': 'jeep'},
 {'_id': ObjectId('62eee52adeeef0f94766ee16'),
  'ano': 1983,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edea'),
            'cpf': '657.843.902-10',
            'email': 'gabriela.caldeira@uol.com.br',
            'idade': 18,
            'nome': 'Gabriela Caldeira'}],
  'dono_cpf': '657.843.902-10',
  'marca': 'citroen'},
 {'_id': ObjectId('62eee52adeeef0f94766ee17'),
  'ano': 1976,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edea'),
            'cpf': '657.843.902-10',
            'email': 'gabriela.caldeira@uol.com.br',
            'idade': 18,
            'nome': 'Gabriela Caldeira'}],
  'dono_cpf': '657.843.902-10',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee18'),
  'ano': 2001,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edea'),
            'cpf': '657.843.902-10',
            'email': 'gabriela.caldeira@uol.com.br',
            'idade': 18,
            'nome': 'Gabriela Caldeira'}],
  'dono_cpf': '657.843.902-10',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee19'),
  'ano': 1989,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edea'),
            'cpf': '657.843.902-10',
            'email': 'gabriela.caldeira@uol.com.br',
            'idade': 18,
            'nome': 'Gabriela Caldeira'}],
  'dono_cpf': '657.843.902-10',
  'marca': 'jeep'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1a'),
  'ano': 1994,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edeb'),
            'cpf': '504.963.728-74',
            'email': 'joaquim.araújo@ig.com.br',
            'idade': 22,
            'nome': 'Joaquim Araújo'}],
  'dono_cpf': '504.963.728-74',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1b'),
  'ano': 1970,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edeb'),
            'cpf': '504.963.728-74',
            'email': 'joaquim.araújo@ig.com.br',
            'idade': 22,
            'nome': 'Joaquim Araújo'}],
  'dono_cpf': '504.963.728-74',
  'marca': 'peugeut'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1c'),
  'ano': 1983,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edeb'),
            'cpf': '504.963.728-74',
            'email': 'joaquim.araújo@ig.com.br',
            'idade': 22,
            'nome': 'Joaquim Araújo'}],
  'dono_cpf': '504.963.728-74',
  'marca': 'suzuki'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1d'),
  'ano': 1988,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edeb'),
            'cpf': '504.963.728-74',
            'email': 'joaquim.araújo@ig.com.br',
            'idade': 22,
            'nome': 'Joaquim Araújo'}],
  'dono_cpf': '504.963.728-74',
  'marca': 'ford'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1e'),
  'ano': 1970,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edec'),
            'cpf': '316.497.528-73',
            'email': 'lorena.barros@uol.com.br',
            'idade': 14,
            'nome': 'Lorena Barros'}],
  'dono_cpf': '316.497.528-73',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766ee1f'),
  'ano': 1996,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edec'),
            'cpf': '316.497.528-73',
            'email': 'lorena.barros@uol.com.br',
            'idade': 14,
            'nome': 'Lorena Barros'}],
  'dono_cpf': '316.497.528-73',
  'marca': 'suzuki'},
 {'_id': ObjectId('62eee52adeeef0f94766ee20'),
  'ano': 1988,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edec'),
            'cpf': '316.497.528-73',
            'email': 'lorena.barros@uol.com.br',
            'idade': 14,
            'nome': 'Lorena Barros'}],
  'dono_cpf': '316.497.528-73',
  'marca': 'ferrari'},
 {'_id': ObjectId('62eee52adeeef0f94766ee21'),
  'ano': 2018,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eded'),
            'cpf': '420.169.785-11',
            'email': 'bárbara.ribeiro@yahoo.com.br',
            'idade': 29,
            'nome': 'Bárbara Ribeiro'}],
  'dono_cpf': '420.169.785-11',
  'marca': 'bmw'},
 {'_id': ObjectId('62eee52adeeef0f94766ee22'),
  'ano': 2003,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766eded'),
            'cpf': '420.169.785-11',
            'email': 'bárbara.ribeiro@yahoo.com.br',
            'idade': 29,
            'nome': 'Bárbara Ribeiro'}],
  'dono_cpf': '420.169.785-11',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766ee23'),
  'ano': 2005,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edef'),
            'cpf': '579.812.340-50',
            'email': 'emilly.dacruz@bol.com.br',
            'idade': 16,
            'nome': 'Emilly da Cruz'}],
  'dono_cpf': '579.812.340-50',
  'marca': 'suzuki'},
 {'_id': ObjectId('62eee52adeeef0f94766ee24'),
  'ano': 1987,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edef'),
            'cpf': '579.812.340-50',
            'email': 'emilly.dacruz@bol.com.br',
            'idade': 16,
            'nome': 'Emilly da Cruz'}],
  'dono_cpf': '579.812.340-50',
  'marca': 'peugeut'},
 {'_id': ObjectId('62eee52adeeef0f94766ee25'),
  'ano': 2010,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edef'),
            'cpf': '579.812.340-50',
            'email': 'emilly.dacruz@bol.com.br',
            'idade': 16,
            'nome': 'Emilly da Cruz'}],
  'dono_cpf': '579.812.340-50',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee26'),
  'ano': 2016,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf0'),
            'cpf': '790.531.284-41',
            'email': 'laura.duarte@ig.com.br',
            'idade': 20,
            'nome': 'Laura Duarte'}],
  'dono_cpf': '790.531.284-41',
  'marca': 'ferrari'},
 {'_id': ObjectId('62eee52adeeef0f94766ee27'),
  'ano': 1984,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf0'),
            'cpf': '790.531.284-41',
            'email': 'laura.duarte@ig.com.br',
            'idade': 20,
            'nome': 'Laura Duarte'}],
  'dono_cpf': '790.531.284-41',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee28'),
  'ano': 2020,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf0'),
            'cpf': '790.531.284-41',
            'email': 'laura.duarte@ig.com.br',
            'idade': 20,
            'nome': 'Laura Duarte'}],
  'dono_cpf': '790.531.284-41',
  'marca': 'toyota'},
 {'_id': ObjectId('62eee52adeeef0f94766ee29'),
  'ano': 1980,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf0'),
            'cpf': '790.531.284-41',
            'email': 'laura.duarte@ig.com.br',
            'idade': 20,
            'nome': 'Laura Duarte'}],
  'dono_cpf': '790.531.284-41',
  'marca': 'toyota'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2a'),
  'ano': 1995,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf1'),
            'cpf': '062.395.148-70',
            'email': 'leandro.gomes@yahoo.com.br',
            'idade': 11,
            'nome': 'Leandro Gomes'}],
  'dono_cpf': '062.395.148-70',
  'marca': 'toyota'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2b'),
  'ano': 1971,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf1'),
            'cpf': '062.395.148-70',
            'email': 'leandro.gomes@yahoo.com.br',
            'idade': 11,
            'nome': 'Leandro Gomes'}],
  'dono_cpf': '062.395.148-70',
  'marca': 'jeep'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2c'),
  'ano': 2010,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf1'),
            'cpf': '062.395.148-70',
            'email': 'leandro.gomes@yahoo.com.br',
            'idade': 11,
            'nome': 'Leandro Gomes'}],
  'dono_cpf': '062.395.148-70',
  'marca': 'suzuki'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2d'),
  'ano': 2018,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf2'),
            'cpf': '314.650.289-51',
            'email': 'anabeatriz.pinto@gmail.com',
            'idade': 28,
            'nome': 'Ana Beatriz Pinto'}],
  'dono_cpf': '314.650.289-51',
  'marca': 'citroen'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2e'),
  'ano': 1984,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf2'),
            'cpf': '314.650.289-51',
            'email': 'anabeatriz.pinto@gmail.com',
            'idade': 28,
            'nome': 'Ana Beatriz Pinto'}],
  'dono_cpf': '314.650.289-51',
  'marca': 'porsche'},
 {'_id': ObjectId('62eee52adeeef0f94766ee2f'),
  'ano': 1999,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf2'),
            'cpf': '314.650.289-51',
            'email': 'anabeatriz.pinto@gmail.com',
            'idade': 28,
            'nome': 'Ana Beatriz Pinto'}],
  'dono_cpf': '314.650.289-51',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee30'),
  'ano': 2007,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf2'),
            'cpf': '314.650.289-51',
            'email': 'anabeatriz.pinto@gmail.com',
            'idade': 28,
            'nome': 'Ana Beatriz Pinto'}],
  'dono_cpf': '314.650.289-51',
  'marca': 'audi'},
 {'_id': ObjectId('62eee52adeeef0f94766ee31'),
  'ano': 1977,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf3'),
            'cpf': '036.128.974-03',
            'email': 'nathan.barbosa@uol.com.br',
            'idade': 15,
            'nome': 'Nathan Barbosa'}],
  'dono_cpf': '036.128.974-03',
  'marca': 'mercedez'},
 {'_id': ObjectId('62eee52adeeef0f94766ee32'),
  'ano': 2002,
  'dono': [{'_id': ObjectId('62eee52adeeef0f94766edf3'),
            'cpf': '036.128.974-03',

### Consulta: 
- quero exibir **pessoas** (nome, idade)
- seus **veículos** (marca, ano)

In [24]:
sql = """
SELECT nome, idade, marca, ano
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
"""

print(sql)

SELECT nome, idade, marca, ano
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf

In [25]:
sqldf(sql, globals())

                     nome  idade     marca     ano
0        Ana Clara Moraes     23      audi  2021.0
1        Ana Clara Moraes     23   citroen  2018.0
2        Ana Clara Moraes     23      ford  1987.0
3            Bruno Vieira     21      audi  1998.0
4            Bruno Vieira     21      audi  2002.0
..                    ...    ...       ...     ...
64      Ana Beatriz Pinto     28   porsche  1984.0
65         Nathan Barbosa     15  mercedez  1977.0
66         Nathan Barbosa     15   peugeut  2002.0
67         Nathan Barbosa     15    suzuki  2019.0
68  Vitor Hugo Nascimento     20      None     NaN

[69 rows x 4 columns]

In [26]:
pipeline = [
    
    # realiza o left join
    {"$lookup": {
        'from': 'automoveis',
        'localField': 'cpf',
        'foreignField': 'dono_cpf',
        'as': 'automoveis'}
    },
    
    # apenas os campos de interesse
    { "$project": { 
              "nome":1,
              "idade":1,
              'automoveis':{
                    'marca':1,
                    'ano':1
              }
        }
    },
    
]

pipeline

[{'$lookup': {'from': 'automoveis',
   'localField': 'cpf',
   'foreignField': 'dono_cpf',
   'as': 'automoveis'}},
 {'$project': {'nome': 1, 'idade': 1, 'automoveis': {'marca': 1, 'ano': 1}}}]

In [27]:
pp.pprint(list(colecao_pessoa.aggregate(pipeline)))

[{'_id': ObjectId('62eee52adeeef0f94766edd7'),
  'automoveis': [{'ano': 2021, 'marca': 'audi'},
                 {'ano': 2018, 'marca': 'citroen'},
                 {'ano': 1987, 'marca': 'ford'}],
  'idade': 23,
  'nome': 'Ana Clara Moraes'},
 {'_id': ObjectId('62eee52adeeef0f94766edd8'),
  'automoveis': [{'ano': 2002, 'marca': 'audi'},
                 {'ano': 1979, 'marca': 'porsche'},
                 {'ano': 1983, 'marca': 'ford'},
                 {'ano': 1998, 'marca': 'audi'}],
  'idade': 21,
  'nome': 'Bruno Vieira'},
 {'_id': ObjectId('62eee52adeeef0f94766edd9'),
  'automoveis': [{'ano': 2013, 'marca': 'audi'},
                 {'ano': 1979, 'marca': 'mercedez'},
                 {'ano': 1979, 'marca': 'audi'},
                 {'ano': 2003, 'marca': 'ford'}],
  'idade': 20,
  'nome': 'Francisco da Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766edda'),
  'automoveis': [{'ano': 2018, 'marca': 'peugeut'},
                 {'ano': 1978, 'marca': 'renault'}],
  'idade': 24,
  'nome': 'Marcelo Almeida'},
 {'_id': ObjectId('62eee52adeeef0f94766eddb'),
  'automoveis': [{'ano': 2011, 'marca': 'vw'},
                 {'ano': 1996, 'marca': 'peugeut'},
                 {'ano': 1970, 'marca': 'audi'}],
  'idade': 20,
  'nome': 'Samuel Nunes'},
 {'_id': ObjectId('62eee52adeeef0f94766eddc'),
  'automoveis': [{'ano': 2003, 'marca': 'mercedez'},
                 {'ano': 2001, 'marca': 'renault'},
                 {'ano': 2017, 'marca': 'ferrari'}],
  'idade': 24,
  'nome': 'Esther Sales'},
 {'_id': ObjectId('62eee52adeeef0f94766eddd'),
  'automoveis': [{'ano': 2009, 'marca': 'bmw'}],
  'idade': 18,
  'nome': 'Otávio Pires'},
 {'_id': ObjectId('62eee52adeeef0f94766edde'),
  'automoveis': [],
  'idade': 14,
  'nome': 'Sophia Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766eddf'),
  'automoveis': [{'ano': 2004, 'marca': 'porsche'},
                 {'ano': 1994, 'marca': 'fiat'}],
  'idade': 13,
  'nome': 'Brenda Nascimento'},
 {'_id': ObjectId('62eee52adeeef0f94766ede0'),
  'automoveis': [{'ano': 1989, 'marca': 'toyota'}],
  'idade': 21,
  'nome': 'Igor da Luz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede1'),
  'automoveis': [{'ano': 1974, 'marca': 'jeep'},
                 {'ano': 1982, 'marca': 'porsche'}],
  'idade': 14,
  'nome': 'Isabella Rocha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede2'),
  'automoveis': [],
  'idade': 20,
  'nome': 'Elisa Aragão'},
 {'_id': ObjectId('62eee52adeeef0f94766ede3'),
  'automoveis': [],
  'idade': 11,
  'nome': 'Benjamin Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede4'),
  'automoveis': [{'ano': 1987, 'marca': 'mercedez'}],
  'idade': 19,
  'nome': 'Ana Vitória Dias'},
 {'_id': ObjectId('62eee52adeeef0f94766ede5'),
  'automoveis': [{'ano': 2008, 'marca': 'jeep'}],
  'idade': 23,
  'nome': 'Kevin da Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766ede6'),
  'automoveis': [{'ano': 1977, 'marca': 'ford'}],
  'idade': 24,
  'nome': 'Lavínia Moura'},
 {'_id': ObjectId('62eee52adeeef0f94766ede7'),
  'automoveis': [{'ano': 1982, 'marca': 'ferrari'}],
  'idade': 22,
  'nome': 'Gabriel da Mata'},
 {'_id': ObjectId('62eee52adeeef0f94766ede8'),
  'automoveis': [],
  'idade': 25,
  'nome': 'Esther da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede9'),
  'automoveis': [{'ano': 2003, 'marca': 'audi'}, {'ano': 1982, 'marca': 'audi'},
                 {'ano': 2010, 'marca': 'citroen'},
                 {'ano': 1980, 'marca': 'jeep'}],
  'idade': 13,
  'nome': 'Thomas Alves'},
 {'_id': ObjectId('62eee52adeeef0f94766edea'),
  'automoveis': [{'ano': 1983, 'marca': 'citroen'},
                 {'ano': 1976, 'marca': 'mercedez'},
                 {'ano': 2001, 'marca': 'mercedez'},
                 {'ano': 1989, 'marca': 'jeep'}],
  'idade': 18,
  'nome': 'Gabriela Caldeira'},
 {'_id': ObjectId('62eee52adeeef0f94766edeb'),
  'automoveis': [{'ano': 1994, 'marca': 'mercedez'},
                 {'ano': 1970, 'marca': 'peugeut'},
                 {'ano': 1983, 'marca': 'suzuki'},
                 {'ano': 1988, 'marca': 'ford'}],
  'idade': 22,
  'nome': 'Joaquim Araújo'},
 {'_id': ObjectId('62eee52adeeef0f94766edec'),
  'automoveis': [{'ano': 1970, 'marca': 'porsche'},
                 {'ano': 1996, 'marca': 'suzuki'},
                 {'ano': 1988, 'marca': 'ferrari'}],
  'idade': 14,
  'nome': 'Lorena Barros'},
 {'_id': ObjectId('62eee52adeeef0f94766eded'),
  'automoveis': [{'ano': 2018, 'marca': 'bmw'},
                 {'ano': 2003, 'marca': 'porsche'}],
  'idade': 29,
  'nome': 'Bárbara Ribeiro'},
 {'_id': ObjectId('62eee52adeeef0f94766edee'),
  'automoveis': [],
  'idade': 16,
  'nome': 'Davi Lucca Castro'},
 {'_id': ObjectId('62eee52adeeef0f94766edef'),
  'automoveis': [{'ano': 2005, 'marca': 'suzuki'},
                 {'ano': 1987, 'marca': 'peugeut'},
                 {'ano': 2010, 'marca': 'audi'}],
  'idade': 16,
  'nome': 'Emilly da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766edf0'),
  'automoveis': [{'ano': 2016, 'marca': 'ferrari'},
                 {'ano': 1984, 'marca': 'audi'},
                 {'ano': 2020, 'marca': 'toyota'},
                 {'ano': 1980, 'marca': 'toyota'}],
  'idade': 20,
  'nome': 'Laura Duarte'},
 {'_id': ObjectId('62eee52adeeef0f94766edf1'),
  'automoveis': [{'ano': 1995, 'marca': 'toyota'},
                 {'ano': 1971, 'marca': 'jeep'},
                 {'ano': 2010, 'marca': 'suzuki'}],
  'idade': 11,
  'nome': 'Leandro Gomes'},
 {'_id': ObjectId('62eee52adeeef0f94766edf2'),
  'automoveis': [{'ano': 2018, 'marca': 'citroen'},
                 {'ano': 1984, 'marca': 'porsche'},
                 {'ano': 1999, 'marca': 'mercedez'},
                 {'ano': 2007, 'marca': 'audi'}],
  'idade': 28,
  'nome': 'Ana Beatriz Pinto'},
 {'_id': ObjectId('62eee52adeeef0f94766edf3'),
  'automoveis': [{'ano': 1977, 'marca': 'mercedez'},
                 {'ano': 2002, 'marca': 'peugeut'},
                 {'ano': 2019, 'marca': 'suzuki'}],
  'idade': 15,
  'nome': 'Nathan Barbosa'},
 {'_id': ObjectId('62eee52adeeef0f94766edf4'),
  'automoveis': [],
  'idade': 20,
  'nome': 'Vitor Hugo Nascimento'}]

### Consulta: 
- quero exibir **pessoas** (nome, idade)
- quantos veiculos possuem

In [28]:
sql = """
SELECT p.nome, p.idade, count(a.marca)
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
group by p.nome, p.idade
"""

print(sql)

SELECT p.nome, p.idade, count(a.marca)
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
group by p.nome, p.idade

In [29]:
sqldf(sql, globals())

                     nome  idade  count(a.marca)
0       Ana Beatriz Pinto     28               4
1        Ana Clara Moraes     23               3
2        Ana Vitória Dias     19               1
3          Benjamin Cunha     11               0
4       Brenda Nascimento     13               2
5            Bruno Vieira     21               4
6         Bárbara Ribeiro     29               2
7       Davi Lucca Castro     16               0
8            Elisa Aragão     20               0
9          Emilly da Cruz     16               3
10           Esther Sales     24               3
11         Esther da Cruz     25               0
12     Francisco da Cunha     20               4
13        Gabriel da Mata     22               1
14      Gabriela Caldeira     18               4
15            Igor da Luz     21               1
16         Isabella Rocha     14               2
17         Joaquim Araújo     22               4
18         Kevin da Costa     23               1
19           Laura Duarte     20               4
20          Lavínia Moura     24               1
21          Leandro Gomes     11               3
22          Lorena Barros     14               3
23        Marcelo Almeida     24               2
24         Nathan Barbosa     15               3
25           Otávio Pires     18               1
26           Samuel Nunes     20               3
27           Sophia Costa     14               0
28           Thomas Alves     13               4
29  Vitor Hugo Nascimento     20               0

In [30]:
pipeline = [
    
    # realiza o left join
    {"$lookup": {
        'from': 'automoveis',
        'localField': 'cpf',
        'foreignField': 'dono_cpf',
        'as': 'automoveis'}
    },
    
    # apenas os campos de interesse
    { "$project": { 
              "nome":1,
              "idade":1,
              'n_automoveis': {'$size': '$automoveis'}
              }
    }
        
]

pipeline

[{'$lookup': {'from': 'automoveis',
   'localField': 'cpf',
   'foreignField': 'dono_cpf',
   'as': 'automoveis'}},
 {'$project': {'nome': 1,
   'idade': 1,
   'n_automoveis': {'$size': '$automoveis'}}}]

In [31]:
pp.pprint(list(colecao_pessoa.aggregate(pipeline)))

[{'_id': ObjectId('62eee52adeeef0f94766edd7'),
  'idade': 23,
  'n_automoveis': 3,
  'nome': 'Ana Clara Moraes'},
 {'_id': ObjectId('62eee52adeeef0f94766edd8'),
  'idade': 21,
  'n_automoveis': 4,
  'nome': 'Bruno Vieira'},
 {'_id': ObjectId('62eee52adeeef0f94766edd9'),
  'idade': 20,
  'n_automoveis': 4,
  'nome': 'Francisco da Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766edda'),
  'idade': 24,
  'n_automoveis': 2,
  'nome': 'Marcelo Almeida'},
 {'_id': ObjectId('62eee52adeeef0f94766eddb'),
  'idade': 20,
  'n_automoveis': 3,
  'nome': 'Samuel Nunes'},
 {'_id': ObjectId('62eee52adeeef0f94766eddc'),
  'idade': 24,
  'n_automoveis': 3,
  'nome': 'Esther Sales'},
 {'_id': ObjectId('62eee52adeeef0f94766eddd'),
  'idade': 18,
  'n_automoveis': 1,
  'nome': 'Otávio Pires'},
 {'_id': ObjectId('62eee52adeeef0f94766edde'),
  'idade': 14,
  'n_automoveis': 0,
  'nome': 'Sophia Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766eddf'),
  'idade': 13,
  'n_automoveis': 2,
  'nome': 'Brenda Nascimento'},
 {'_id': ObjectId('62eee52adeeef0f94766ede0'),
  'idade': 21,
  'n_automoveis': 1,
  'nome': 'Igor da Luz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede1'),
  'idade': 14,
  'n_automoveis': 2,
  'nome': 'Isabella Rocha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede2'),
  'idade': 20,
  'n_automoveis': 0,
  'nome': 'Elisa Aragão'},
 {'_id': ObjectId('62eee52adeeef0f94766ede3'),
  'idade': 11,
  'n_automoveis': 0,
  'nome': 'Benjamin Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766ede4'),
  'idade': 19,
  'n_automoveis': 1,
  'nome': 'Ana Vitória Dias'},
 {'_id': ObjectId('62eee52adeeef0f94766ede5'),
  'idade': 23,
  'n_automoveis': 1,
  'nome': 'Kevin da Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766ede6'),
  'idade': 24,
  'n_automoveis': 1,
  'nome': 'Lavínia Moura'},
 {'_id': ObjectId('62eee52adeeef0f94766ede7'),
  'idade': 22,
  'n_automoveis': 1,
  'nome': 'Gabriel da Mata'},
 {'_id': ObjectId('62eee52adeeef0f94766ede8'),
  'idade': 25,
  'n_automoveis': 0,
  'nome': 'Esther da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede9'),
  'idade': 13,
  'n_automoveis': 4,
  'nome': 'Thomas Alves'},
 {'_id': ObjectId('62eee52adeeef0f94766edea'),
  'idade': 18,
  'n_automoveis': 4,
  'nome': 'Gabriela Caldeira'},
 {'_id': ObjectId('62eee52adeeef0f94766edeb'),
  'idade': 22,
  'n_automoveis': 4,
  'nome': 'Joaquim Araújo'},
 {'_id': ObjectId('62eee52adeeef0f94766edec'),
  'idade': 14,
  'n_automoveis': 3,
  'nome': 'Lorena Barros'},
 {'_id': ObjectId('62eee52adeeef0f94766eded'),
  'idade': 29,
  'n_automoveis': 2,
  'nome': 'Bárbara Ribeiro'},
 {'_id': ObjectId('62eee52adeeef0f94766edee'),
  'idade': 16,
  'n_automoveis': 0,
  'nome': 'Davi Lucca Castro'},
 {'_id': ObjectId('62eee52adeeef0f94766edef'),
  'idade': 16,
  'n_automoveis': 3,
  'nome': 'Emilly da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766edf0'),
  'idade': 20,
  'n_automoveis': 4,
  'nome': 'Laura Duarte'},
 {'_id': ObjectId('62eee52adeeef0f94766edf1'),
  'idade': 11,
  'n_automoveis': 3,
  'nome': 'Leandro Gomes'},
 {'_id': ObjectId('62eee52adeeef0f94766edf2'),
  'idade': 28,
  'n_automoveis': 4,
  'nome': 'Ana Beatriz Pinto'},
 {'_id': ObjectId('62eee52adeeef0f94766edf3'),
  'idade': 15,
  'n_automoveis': 3,
  'nome': 'Nathan Barbosa'},
 {'_id': ObjectId('62eee52adeeef0f94766edf4'),
  'idade': 20,
  'n_automoveis': 0,
  'nome': 'Vitor Hugo Nascimento'}]

### Consulta: 
- quero exibir **pessoas** (nome, idade)
- o veículo mais velho que elas possuem

In [32]:
sql = """
SELECT p.nome, p.idade, min(a.ano) as ano
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
group by p.nome, p.idade
"""

print(sql)

SELECT p.nome, p.idade, min(a.ano) as ano
FROM pessoas as p left join automoveis as a
    on p.cpf = a.dono_cpf
group by p.nome, p.idade

In [33]:
sqldf(sql, globals())

                     nome  idade     ano
0       Ana Beatriz Pinto     28  1984.0
1        Ana Clara Moraes     23  1987.0
2        Ana Vitória Dias     19  1987.0
3          Benjamin Cunha     11     NaN
4       Brenda Nascimento     13  1994.0
5            Bruno Vieira     21  1979.0
6         Bárbara Ribeiro     29  2003.0
7       Davi Lucca Castro     16     NaN
8            Elisa Aragão     20     NaN
9          Emilly da Cruz     16  1987.0
10           Esther Sales     24  2001.0
11         Esther da Cruz     25     NaN
12     Francisco da Cunha     20  1979.0
13        Gabriel da Mata     22  1982.0
14      Gabriela Caldeira     18  1976.0
15            Igor da Luz     21  1989.0
16         Isabella Rocha     14  1974.0
17         Joaquim Araújo     22  1970.0
18         Kevin da Costa     23  2008.0
19           Laura Duarte     20  1980.0
20          Lavínia Moura     24  1977.0
21          Leandro Gomes     11  1971.0
22          Lorena Barros     14  1970.0
23        Marcelo Almeida     24  1978.0
24         Nathan Barbosa     15  1977.0
25           Otávio Pires     18  2009.0
26           Samuel Nunes     20  1970.0
27           Sophia Costa     14     NaN
28           Thomas Alves     13  1980.0
29  Vitor Hugo Nascimento     20     NaN

In [46]:
pipeline = [
    
    # realiza o left join
    {"$lookup": {
        'from': 'automoveis',
        'localField': 'cpf',
        'foreignField': 'dono_cpf',
        'as': 'automoveis'}
    },
    
    # torna a estrutura de veículos "flat"
    {"$unwind":"$automoveis"},
    
    # projeta a nova coluna de ano do veículo
    {"$project":{
        "nome":1,
        "idade":1,
        "ano":"$automoveis.ano"}
    },
    
    # agrupa por nome e idade
    {"$group":{
        '_id': '$_id',
       'nome':{'$first':'$nome'},
       'idade':{'$first':'$idade'},
       'ano': {'$min': '$ano'}    
        }
    }
        
]

pipeline

[{'$lookup': {'from': 'automoveis',
   'localField': 'cpf',
   'foreignField': 'dono_cpf',
   'as': 'automoveis'}},
 {'$unwind': '$automoveis'},
 {'$project': {'nome': 1, 'idade': 1, 'ano': '$automoveis.ano'}},
 {'$group': {'_id': '$_id',
   'nome': {'$first': '$nome'},
   'idade': {'$first': '$idade'},
   'ano': {'$min': '$ano'}}}]

In [47]:
pp.pprint(list(colecao_pessoa.aggregate(pipeline)))

[{'_id': ObjectId('62eee52adeeef0f94766eddb'),
  'ano': 1970,
  'idade': 20,
  'nome': 'Samuel Nunes'},
 {'_id': ObjectId('62eee52adeeef0f94766edeb'),
  'ano': 1970,
  'idade': 22,
  'nome': 'Joaquim Araújo'},
 {'_id': ObjectId('62eee52adeeef0f94766eded'),
  'ano': 2003,
  'idade': 29,
  'nome': 'Bárbara Ribeiro'},
 {'_id': ObjectId('62eee52adeeef0f94766edd7'),
  'ano': 1987,
  'idade': 23,
  'nome': 'Ana Clara Moraes'},
 {'_id': ObjectId('62eee52adeeef0f94766ede5'),
  'ano': 2008,
  'idade': 23,
  'nome': 'Kevin da Costa'},
 {'_id': ObjectId('62eee52adeeef0f94766edd9'),
  'ano': 1979,
  'idade': 20,
  'nome': 'Francisco da Cunha'},
 {'_id': ObjectId('62eee52adeeef0f94766eddf'),
  'ano': 1994,
  'idade': 13,
  'nome': 'Brenda Nascimento'},
 {'_id': ObjectId('62eee52adeeef0f94766ede0'),
  'ano': 1989,
  'idade': 21,
  'nome': 'Igor da Luz'},
 {'_id': ObjectId('62eee52adeeef0f94766ede1'),
  'ano': 1974,
  'idade': 14,
  'nome': 'Isabella Rocha'},
 {'_id': ObjectId('62eee52adeeef0f94766edea'),
  'ano': 1976,
  'idade': 18,
  'nome': 'Gabriela Caldeira'},
 {'_id': ObjectId('62eee52adeeef0f94766edf0'),
  'ano': 1980,
  'idade': 20,
  'nome': 'Laura Duarte'},
 {'_id': ObjectId('62eee52adeeef0f94766edf2'),
  'ano': 1984,
  'idade': 28,
  'nome': 'Ana Beatriz Pinto'},
 {'_id': ObjectId('62eee52adeeef0f94766ede9'),
  'ano': 1980,
  'idade': 13,
  'nome': 'Thomas Alves'},
 {'_id': ObjectId('62eee52adeeef0f94766edef'),
  'ano': 1987,
  'idade': 16,
  'nome': 'Emilly da Cruz'},
 {'_id': ObjectId('62eee52adeeef0f94766edf3'),
  'ano': 1977,
  'idade': 15,
  'nome': 'Nathan Barbosa'},
 {'_id': ObjectId('62eee52adeeef0f94766ede6'),
  'ano': 1977,
  'idade': 24,
  'nome': 'Lavínia Moura'},
 {'_id': ObjectId('62eee52adeeef0f94766edec'),
  'ano': 1970,
  'idade': 14,
  'nome': 'Lorena Barros'},
 {'_id': ObjectId('62eee52adeeef0f94766edda'),
  'ano': 1978,
  'idade': 24,
  'nome': 'Marcelo Almeida'},
 {'_id': ObjectId('62eee52adeeef0f94766eddd'),
  'ano': 2009,
  'idade': 18,
  'nome': 'Otávio Pires'},
 {'_id': ObjectId('62eee52adeeef0f94766ede7'),
  'ano': 1982,
  'idade': 22,
  'nome': 'Gabriel da Mata'},
 {'_id': ObjectId('62eee52adeeef0f94766eddc'),
  'ano': 2001,
  'idade': 24,
  'nome': 'Esther Sales'},
 {'_id': ObjectId('62eee52adeeef0f94766ede4'),
  'ano': 1987,
  'idade': 19,
  'nome': 'Ana Vitória Dias'},
 {'_id': ObjectId('62eee52adeeef0f94766edf1'),
  'ano': 1971,
  'idade': 11,
  'nome': 'Leandro Gomes'},
 {'_id': ObjectId('62eee52adeeef0f94766edd8'),
  'ano': 1979,
  'idade': 21,
  'nome': 'Bruno Vieira'}]